* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #101010;
}

body {
    background-color: #101010;
}

.min-height {
    min-height: 70vh;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    color: rgb(0, 106, 102);
    text-decoration: none;
    transition: all 0.3ms ease-in;
}

a:hover {
    color: #d71d02;
}

.text-bold {
    font-weight: 800;
}

.text-italic {
    font-style: italic;
}

.gray {
    color: gray;
}

.center-crop {
    width: 900px;
    margin: 0 auto;
}

.center {
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
}

.vertical-align-parent {
    position: relative;
    height: 70vh;
}

.vertical-align-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

/* 
    HEADER ELEMENTS 
*/

header {
    width: 100%;
}

.hidden {
    display: none;
}

/* 
    MENU / NAV ELEMENTS
*/

#admin-nav, #portfolio-nav {
    display: flex;
    background-color: #101010;
    list-style: none;
    flex-direction: row;
    font-size: 12pt;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

#portfolio-nav {
    background-color: silver;
}

#admin-nav .title {
    text-transform: uppercase;
    color: #d71d02;
}

#admin-nav li {
    border: 5px solid transparent;
}

#portfolio-nav li {
    letter-spacing: 3pt;
    border: 15px solid transparent;
}

#admin-nav li a {
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.3s ease;
}

#admin-nav li a:hover {
    transition: all 0.3s ease;
    color: #d71d02;
}

#admin-nav li, #portfolio-nav li {
    letter-spacing: 3pt;
    border: 15px solid transparent;
}

#portfolio-nav li a {
    color: #101010;
    text-decoration: none;
    transition: all 0.3s ease;
}

#portfolio-nav li a:hover {
    transition: all 0.3s ease;
    color: #d71d02;
}

/* MAIN ELEMENTS */

main {
    position: relative;
    min-height: 70vh;
    padding: 15px;
    background-color: #f7f7f7;
}

h2 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #717171;
}

/* FOOTER ELEMENTS */

footer {
    text-align: center;
    color: silver;
    background-color: #101010;
    padding: 15px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

footer a:hover {
    color: red;
}

/* FORM STYLES */

/* Fields */

form, .card {
    position: relative;
    margin: .5rem 0 1rem 0;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

form>div:last-child, .card>div {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
}

.card .bottom-buttons {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 100%;
}

form .form-fields {
    grid-template-columns: auto 1fr;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 20px;
    height: 100%;
    /* grid-template-columns: 100%; */
}

form .form-fields button {}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #aaa;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #aaa;
}

input, select, option {
    background-color: white;
    border: 1px solid silver;
    font-size: 1em;
    padding: 10px 10px;
    font-weight: normal;
    width: 250px;
    position: relative;
    float: left;
}

input[type='checkbox'] {
    clear: left;
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

label {
    margin-right: 20px;
    float: left;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./gfx/dropdown-arrow.png') 96% / 10% no-repeat #eee;
    border-radius: 0%;
    padding-right: 50px;
}

/* Button */

button {
    background-color: #00C5BE;
    border: 1px solid silver;
    color: #fff;
    font-size: 1em;
    padding: 10px 10px;
    width: 150px;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 20px;
}

button:first-of-type {
    margin-left: 0px;
}

.close-button {
    width: 20px;
    background: url('./gfx/close-button.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.add-form .close-button {
    display: none;
}

/* PAGE SPECIFIC */

#welcome-screen {
    height: 100vh;
    position: relative;
    background-position: center;
    transition: all 0.5s ease-in-out;
    text-align: center;
    background: url("https://source.unsplash.com/collection/2569191/800x600") center no-repeat;
    background-size: cover;
}

#welcome-screen h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15vw;
    letter-spacing: 10px;
    text-shadow:0px 0px 5px #000000;
}

#login-screen {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 440px;
}

#login-screen h1 {
    font: bolder 98px 'Montserrat';
    margin: 0;
    background: url("https://source.unsplash.com/collection/2569191/800x600") center;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 8px;
    margin: 40px 0;
}

#login-screen .tab {
    background-color: black;
    border: none;
    margin-right: 1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

#login-screen .tab:hover {
    background-color: rgb(0, 106, 102);
}

.login-form {
    width: 440px;
    display: block;
    margin: 0;
    float: left;
}

.login-form input {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 10px;
}

.login-form button {
    position: relative;
    float: left;
    clear: none;
}

#categories-screen {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 440px;
}

#user-info-edit-screen {}

#user-info-edit-screen img {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 200px;
    margin: 40px 0 0 40px;
}

#user-info-form {
    display: grid;
    grid-template-columns: auto auto 1fr;
    /* grid-template-rows: 100%; */
    grid-gap: 20px;
}

#user-info-form>div {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

#user-info-form input {
    width: 335px;
    height: 50px;
}

#user-info-form>div:nth-child(3) {
    display: flex;
}

#user-info-form button {
    height: 50px;
    align-self: flex-end;
}

